{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/side-menu.css')}}">
    <!-- 添加 iconfont css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iconfont.css')}}">
    <!-- 添加 custom.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
{% endblock %}

{% block content %}
    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" href="/">Hello GitHub</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/" class="pure-menu-link">首页</a></li>
                    <li class="menu-item-divided pure-menu-selected">
                        <a href="{{ menu_url }}" class="pure-menu-link">内容</a>
                    </li>
                    <li class="pure-menu-item"><a href="/about/?url={{ menu_url }}" class="pure-menu-link">关于</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div class="header">
                <h1>{{ page_title }}</h1>
                <h2>兴趣是最好的老师，Hello GitHub 就是帮你找到编程的兴趣。</h2>
            </div>

            <div class="content">

                <div class="margin-bottom-40">
                    <h2 class="bg-primary"><span></span> C</h2>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue"> 
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">1. TinyHttpd</a>
                            <span title="收藏" class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>一个不到 500 行的超轻量型 HTTP Server，可以用来理解服务器程序的原理和本质。快看 C语言 的入门级项目！</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">2. WeixinSDK TestTest TestTest TestTest</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>微信 C# 版 SDK，虽然现在已经有很多优秀的 SDK，但是本项目的更多的是交流、学习。每个类均有完整的代码注释、对应的单元测试、代码易于理解、接口抽象易于扩展。代码实例如下</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">3. WeixinSDK</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>微信 C# 版 SDK，虽然现在已经有很多优秀的 SDK，但是本项目的更多的是交流、学习。每个类均有完整的代码注释、对应的单元测试、代码易于理解、接口抽象易于扩展。代码实例如下</p>
                    </div>
                </div>

                <div class="margin-bottom-40">
                    <h2 class="bg-primary"><span></span> C#</h2>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">1. TinyHttpd</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>一个不到 500 行的超轻量型 HTTP Server，可以用来理解服务器程序的原理和本质。快看 C语言 的入门级项目！</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">2. WeixinSDK</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>微信 C# 版 SDK，虽然现在已经有很多优秀的 SDK，但是本项目的更多的是交流、学习。每个类均有完整的代码注释、对应的单元测试、代码易于理解、接口抽象易于扩展。代码实例如下</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">3. WeixinSDK</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>微信 C# 版 SDK，虽然现在已经有很多优秀的 SDK，但是本项目的更多的是交流、学习。每个类均有完整的代码注释、对应的单元测试、代码易于理解、接口抽象易于扩展。代码实例如下</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">1. TinyHttpd</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>一个不到 500 行的超轻量型 HTTP Server，可以用来理解服务器程序的原理和本质。快看 C语言 的入门级项目！</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">2. WeixinSDK</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>微信 C# 版 SDK，虽然现在已经有很多优秀的 SDK，但是本项目的更多的是交流、学习。每个类均有完整的代码注释、对应的单元测试、代码易于理解、接口抽象易于扩展。代码实例如下</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">3. WeixinSDK</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>微信 C# 版 SDK，虽然现在已经有很多优秀的 SDK，但是本项目的更多的是交流、学习。每个类均有完整的代码注释、对应的单元测试、代码易于理解、接口抽象易于扩展。代码实例如下</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">1. TinyHttpd</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>一个不到 500 行的超轻量型 HTTP Server，可以用来理解服务器程序的原理和本质。快看 C语言 的入门级项目！</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">2. WeixinSDK</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>微信 C# 版 SDK，虽然现在已经有很多优秀的 SDK，但是本项目的更多的是交流、学习。每个类均有完整的代码注释、对应的单元测试、代码易于理解、接口抽象易于扩展。代码实例如下</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">3. WeixinSDK</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>微信 C# 版 SDK，虽然现在已经有很多优秀的 SDK，但是本项目的更多的是交流、学习。每个类均有完整的代码注释、对应的单元测试、代码易于理解、接口抽象易于扩展。代码实例如下</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">1. TinyHttpd</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>一个不到 500 行的超轻量型 HTTP Server，可以用来理解服务器程序的原理和本质。快看 C语言 的入门级项目！</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">2. WeixinSDK</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>微信 C# 版 SDK，虽然现在已经有很多优秀的 SDK，但是本项目的更多的是交流、学习。每个类均有完整的代码注释、对应的单元测试、代码易于理解、接口抽象易于扩展。代码实例如下</p>
                    </div>
                    <div class="margin-bottom-20">
                        <h3 class="color-blue">
                            <a href="https://github.com/EZLippi/Tinyhttpd" class="color-blue">3. WeixinSDK</a>
                            <span class="icon-star-empty color-blue"></span>
                        </h3>
                        <p>微信 C# 版 SDK，虽然现在已经有很多优秀的 SDK，但是本项目的更多的是交流、学习。每个类均有完整的代码注释、对应的单元测试、代码易于理解、接口抽象易于扩展。代码实例如下</p>
                    </div>
                </div>

                <div class="margin-bottom-40">
                    <h2 class="bg-primary"><span></span> Test Block</h2>
                    <p><button id="toggleModal" class="pure-button">Click me</button></p>
                </div>

            </div> <!-- content end -->
        </div> <!-- main end -->

        <!-- favourite box start -->
        <div class="favourite">
            <div class="top-arrow"></div>
            <div class="box">
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="title">名称</label>
                            <input id="title" type="text" placeholder="名称">
                        </div>

                        <div class="pure-control-group">
                            <label for="folder">位置</label>
                            <select id="folder">
                                <option>我的收藏夹1</option>
                                <option>我的收藏夹2</option>
                                <option>我的收藏夹3</option>
                                <option class="color-blue">添加收藏夹</option>
                            </select>
                        </div>

                        <div class="pure-control-group addFolder">
                            <button type="submit" class="button-success pure-button">添加</button>
                            <input type="text" placeholder="">
                        </div>

                        <div class="pure-controls">
                            <button class="pure-button pure-button-default">取消</button>
                            <button type="submit" class="pure-button pure-button-primary">提交</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- favourite box end -->

        <!-- login box start -->
        <div class="modal">
            <div action="" class="modal-content">
                <div class="center modal-header margin-bottom-40">
                    <span class="icon-user"></span>
                    <span class="icon-github"></span>
                </div>
                <p class="center modal-body margin-bottom-40">授权登陆 HelloGithub</p>
                <div class="center modal-footer">
                    <a class="pure-button">取消</a>
                    <a href="/sign/in/" class="pure-button pure-button-primary">授权</a>
                </div>
            </div>
        </div>
        <!-- login box end -->

    </div> <!-- layout end -->
{% endblock %}

{% block js %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atom-one-light.min.css') }}">
    <!-- share.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/share.min.css') }}">
    <script src="{{ url_for('static', filename='js/social-share.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <!-- 添加 jquery, content.js 两个 js 文件 -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/content.js') }}"></script>
    <script >hljs.initHighlightingOnLoad();</script>
{% endblock %}